.hi-txt {
    animation: headerAnimation 3s ease 0s 1 forwards;
}

.my-name-txt {
    animation: headerAnimation 3s ease 1.5s 1 forwards;
}

.derek-txt {
    animation: headerAnimation 3s ease 2s 1 forwards;
}

.about-me-txt {
    animation: headerAnimation 3s ease 4s 1 forwards;
}

.down-arrow {
    animation: headerAnimation 3s ease 4s 1 forwards,
               pulseAnimation 2s ease 7s infinite forwards;
}

.calcubuddy:hover {
    transform: scale(1.2);
}

@keyframes headerAnimation {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes pulseAnimation {
    100% {
        opacity: 1
    }
    50% {
        opacity: 0.5
    }
}