/**************************/
/*         FONTS          */
/**************************/
@font-face {
    font-family: fira;
    src: local(FiraSans-Regular);
    src: url(../fonts/FiraSans-Regular.ttf);
}


/**************************/
/*         COLORS         */
/**************************/
:root {
    --primary: #c5c8e7;
    --secondary: #EDF2F4;
    --tertiary: black;
    --accent: #CC444B;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: fira;
    font-size: 16px;
    background-color: var(--secondary);
}

/**************************/
/*         HERO           */
/**************************/

.hero-section {
    width: 100%;
    height: 100vh;
    color: white;
    background-color: var(--primary);
    background-image: url("../images/nick-design-unsplash.jpg");
}

.hi-txt {
    font-size: 7rem;
    padding: 15% 15% 10%;
    font-weight: 400;
    margin: 0;
}

.my-name-txt {
    font-size: 2.2rem;
    margin: 0;
    text-align: right;
    padding-right: 5%;
}

.derek-txt {
    font-size: 5rem;
    font-weight: 600;
    color: var(--accent);
    letter-spacing: 1.7rem;
    text-align: center;
    margin: 0;
    padding: 10% 0;
    color: var(--primary);
}

.about-me-txt {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}

.down-arrow {
    display: block;
    width: 20%;
    margin: 20% auto;
}

.opacity-0 {
    opacity: 0;
}

/**************************/
/*          MAIN          */
/**************************/
.project-wrapper {
    width: 90%;
    height: 30vh;
    margin: 10% auto;
    overflow: hidden;
    box-shadow: 0 0 1rem black;
}

.calcubuddy {
    width: 100%;
    height: 100%;
    background-image: url("../images/calcubuddy.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 1s;
}

.link-github-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.project-link {
    text-decoration: none;
    color: var(--secondary); 
    justify-self: right;
}

.project-link-txt {
    margin: 0;
    color: var(--accent);
}

.github-anchor {
    display: flex;
}

.github-icon {
    width: 20%;
    margin: 0 auto;
}

.description {
    margin: 5% 5%;
}

/**************************/
/*          CTA           */
/**************************/

.cta-section {
    background-color: var(--primary);
    padding: 5%;
}

.cta-txt {
    text-align: center;
    margin-bottom: 10%;
    font-weight: 400;
}

.social-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 10%;
}

.social-img {
    height: 40px;
}

/**************************/
/*     MEDIA QUERIES      */
/**************************/

@media (min-width: 525px) {
    .hi-txt {
        font-size: 10rem;
        padding: 2% 25% 0%;
        line-height: 8rem;
    }

    .my-name-txt {
        font-size: 5.2rem;
        padding-right: 25%;
        text-shadow: 0 0 2rem black;
    }
    
    .derek-txt {
        font-size: 12rem;
        letter-spacing: 1.7rem;
        padding: 0;
    }
    
    .about-me-txt {
        padding-top: 2%;
        font-size: 2.5rem;
        text-shadow: 0 0 2rem black;
    }
    
    .down-arrow {
        width: 10%;
        margin: 3% auto;
    }

    main {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }

    .project-wrapper {
        height: 60vh;
        margin: 10% 5%;
        grid-row-start: span 2;
    }
    
    .link-github-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    
    .project-link-txt {
        font-size: 4rem;
    }
    
    .description {
        margin: -5% 5% 0;
        line-height: 2.5rem;
        font-size: 1.5rem;
    }

    .cta-section {
        padding: 5% 15%;
    }
    
    .cta-txt {
        font-size: 1.5rem;
        margin-bottom: 10%;
    }
    
    .social-container {
        display: flex;
        justify-content: center;
        gap: 3rem;
        margin-bottom: 10%;
    }
    
    .social-img {
        height: 100px;
    }
}