/**************************/
/*         FONTS          */
/**************************/
@font-face {
    font-family: fira;
    src: local(FiraSans-Regular);
    src: url(../fonts/FiraSans-Regular.ttf);
}


/**************************/
/*         COLORS         */
/**************************/
:root {
    --primary: lightgray;
    --secondary: gray;
    --tertiary: darkgray;
    --accent: black;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: fira;
    font-size: 16px;
}

/**************************/
/*         HERO           */
/**************************/

.hero-section {
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
}

.hi-txt {
    color: var(--accent);
    font-size: 8rem;
    padding: 15% 15% 10%;
    font-weight: 400;
    margin: 0;
    /* opacity: 0; */
}

.my-name-txt {
    font-size: 3.2rem;
    margin: 0;
    text-align: right;
    padding-right: 5%;
    color: var(--accent);
    /* opacity: 0; */
}

.derek-txt {
    font-size: 6rem;
    font-weight: 600;
    color: var(--accent);
    letter-spacing: 1.7rem;
    text-align: center;
    margin: 0;
    padding: 10% 0;
    /* opacity: 0; */
}

.about-me-txt {
    font-size: 2rem;
    color: var(--accent);
    margin: 0;
    /* opacity: 0; */
    text-align: center;
}

.down-arrow {
    display: block;
    padding: 20% 0;
    width: 20%;
    margin: 0 auto;
    /* opacity: 0; */
}

/**************************/
/*          MAIN          */
/**************************/

main {
    width: 100%;
    height: 100px;
    background-color: gray;
}