/**************************/
/*         FONTS          */
/**************************/
@font-face {
    font-family: fira;
    src: local(FiraSans-Regular);
    src: url(../fonts/FiraSans-Regular.ttf);
}


/**************************/
/*         COLORS         */
/**************************/
:root {
    --primary: #c5c8e7;
    --secondary: gray;
    --tertiary: darkgray;
    --accent: #CC444B;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: fira;
    font-size: 16px;
}

/**************************/
/*         HERO           */
/**************************/

.hero-section {
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
}

.hi-txt {
    color: var(--accent);
    font-size: 8rem;
    padding: 15% 15% 10%;
    font-weight: 400;
    margin: 0;
}

.my-name-txt {
    font-size: 3.2rem;
    margin: 0;
    text-align: right;
    padding-right: 5%;
    color: var(--accent);
}

.derek-txt {
    font-size: 6rem;
    font-weight: 600;
    color: var(--accent);
    letter-spacing: 1.7rem;
    text-align: center;
    margin: 0;
    padding: 10% 0;
}

.about-me-txt {
    font-size: 2rem;
    color: var(--accent);
    margin: 0;
    text-align: center;
}

.down-arrow {
    display: block;
    width: 20%;
    margin: 20% auto;
}

.opacity-0 {
    opacity: 0;
}

/**************************/
/*          MAIN          */
/**************************/
.project-wrapper {
    width: 90%;
    height: 30vh;
    margin: 10% auto;
    overflow: hidden;
    box-shadow: 0 0 1rem black;
}

.calcubuddy {
    width: 100%;
    height: 100%;
    background-image: url("../images/calcubuddy.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 1s;
}

.link-github-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.project-link {
    text-decoration: none;
    color: var(--secondary); 
    justify-self: right;
}

.project-link-txt {
    margin: 0;
    
}

.github-anchor {
    display: flex;
}

.github-icon {
    width: 20%;
    margin: 0 auto;
}

.description {
    margin: 5% 5%;
}

/**************************/
/*          CTA           */
/**************************/

.cta-section {
    background-color: var(--secondary);
    padding: 5%;
}

.cta-txt {
    text-align: center;
    margin-bottom: 10%
}

.social-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 10%;
}

.social-img {
    height: 40px;
}