.banner {
    width: 100%;
    background: url(../images/vacation-planner/vp-banner.png);
    background-repeat: no-repeat;
    text-align: center;
    font-family: dancing-script;
}

.heading {
    font-size: 1.2rem;
    width: 95%;
    margin: 5% auto;
    font-weight: 400;
}

.banner-txt {
    margin: 0;
    font-size: 3rem;
}

.vacation-cards-container {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.card-img {
    width: 100%;
}

.card-txt {
    width: 95%;
    margin: 3% auto;
}

.access-container {
    background-color: var(--primary);
    padding: 5%;
}

.social-container {
    padding-top: 3%;
}